.navbar-brand {
    max-width: 15%;
}
.border-bottom {
    border-bottom: 3px solid #d6d5d5  !important;
}
#menuNavbar{
    width: 100%;
}
.sheetSlider {
    background-color: #ffffff;
    text-align: center;
}
.sh__meta span, .sh__meta h4 {
    color: rgb(85, 85, 85);
}
